In [ ]:
import requests
import pandas as pd
from typing import List, Optional
from odmantic import AIOEngine, Model
from motor.motor_asyncio import AsyncIOMotorClient
import asyncio


# Odmantic 모델 정의
class Movie(Model):
    movie_id: int
    title: str
    original_title: Optional[str] = None
    overview: Optional[str] = None
    poster_path: Optional[str] = None
    original_country: List[str] = []
    genres: List[int] = []
    popularity: float 
    release_date: Optional[str] = None
    cast: Optional[List[dict]] = None
    director: Optional[dict] = None
    
# DETAIL 및 CREDIT API 호출 및 MongoDB 저장 함수
async def save_movie_to_db(movie_id: int):
    # MongoDB 연결 설정
    client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
    engine = AIOEngine(client=client, database="movies")

    # 기존 데이터 확인
    existing_movie = await engine.find_one(Movie, Movie.movie_id == movie_id)
    if existing_movie:
        print(f"영화 '{existing_movie.title}'는 이미 DB에 존재합니다. (movie_id: {movie_id})")
        return

    # DETAIL API 호출
    detail_url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=ko-KR"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyNmZlYzEwOGU3M2Y3YmVmNTkzYzM3N2RjMzdjYjcyZCIsIm5iZiI6MTczMjg2MjU3NC43Miwic3ViIjoiNjc0OTYyNmU0OTE5MDljMWI3OWRlY2VkIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.aumSeBsjfSdLck30QaMJjzeLi7ZZ4CMBOZS20p_AVdw"
    }
    detail_response = requests.get(detail_url, headers=headers)
    detail_data = detail_response.json()

    # CREDIT API 호출
    credit_url = f"https://api.themoviedb.org/3/movie/{movie_id}/credits?language=ko-KR"
    credit_response = requests.get(credit_url, headers=headers)
    credit_data = credit_response.json()

    # 데이터 정리
    genres = [genre["id"] for genre in detail_data.get("genres", [])]
    cast = sorted(
        [{"cast_id": c["cast_id"], "name": c["name"]} for c in credit_data.get("cast", [])],
        key=lambda x: x["cast_id"]
    )[:8]
    director = next(
        (
            {"id": crew["id"], "name": crew["name"]}
            for crew in credit_data.get("crew", [])
            if crew.get("job") == "Director"
        ),
        None
    )

    # MongoDB 저장
    movie = Movie(
        movie_id=detail_data["id"],
        title=detail_data.get("title"),
        original_title=detail_data.get("original_title"),
        overview=detail_data.get("overview"),
        poster_path=detail_data.get("poster_path"),
        original_country=detail_data.get("origin_country"),
        genres=genres,
        popularity=detail_data.get("popularity"),
        release_date=detail_data.get("release_date"),
        cast=cast,
        director=director,
    )
    await engine.save(movie)
    print(movie)
    print(f"영화 '{movie.title}'가 MongoDB에 저장되었습니다.")

In [52]:
import asyncio
import pandas as pd
from odmantic import AIOEngine
from motor.motor_asyncio import AsyncIOMotorClient


# MongoDB 연결 설정
client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
engine = AIOEngine(client=client, database="movies_db")


# 데이터 가져오기 함수
async def fetch_movies():
    movies = await engine.find(Movie)

    # 영화 정보를 저장할 리스트
    movie_data = []

    for movie in movies:
        # cast에서 name만 필터링
        filtered_cast_names = [c["name"] for c in movie.cast] if movie.cast else None
        
        # director에서 name만 필터링
        director_name = movie.director["name"] if movie.director else None

        # 영화 정보를 딕셔너리로 저장
        movie_data.append({
            "Title": movie.title,
            "Genres": movie.genres,
            "Cast Names": filtered_cast_names,
            "Director Name": director_name,
            "Country": movie.original_country
        })

    # DataFrame 생성
    df = pd.DataFrame(movie_data)
    return df

In [53]:
# Step 2: 사용자 입력으로 상세 정보 저장
import nest_asyncio
nest_asyncio.apply()

# 비동기 실행
movie = asyncio.run(fetch_movies())

In [54]:
movie = movie[:10]

In [55]:
all_genres = [genre for genres in movie["Genres"] for genre in genres]
genre_counts = pd.Series(all_genres).value_counts().reset_index()
genre_counts.columns = ["Genre", "Count"]

genre_counts = genre_counts[genre_counts['Count'] > 1]
genre_counts

  Genre  Count
0   드라마      7
1   로맨스      5
2   코미디      5
3    음악      4
4   판타지      2

In [56]:
import asyncio
import pandas as pd
from odmantic import AIOEngine
from motor.motor_asyncio import AsyncIOMotorClient


# MongoDB 연결 설정
client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
engine = AIOEngine(client=client, database="movies_db2")


# 데이터 가져오기 함수
async def fetch_movies():
    movies = await engine.find(Movie)

    # 영화 정보를 저장할 리스트
    movie_data = []

    for movie in movies:
        # cast에서 name만 필터링
        filtered_cast_names = [c["name"] for c in movie.cast] if movie.cast else None
        
        # director에서 name만 필터링
        director_name = movie.director["name"] if movie.director else None

        # 영화 정보를 딕셔너리로 저장
        movie_data.append({
            "Title": movie.title,
            "Genres": movie.genres,
            "Cast Names": filtered_cast_names,
            "Director Name": director_name,
            "Country": movie.original_country
        })

    # DataFrame 생성
    df = pd.DataFrame(movie_data)
    return df

# 비동기 실행
movie2 = asyncio.run(fetch_movies())

In [57]:
movie2

,Title,Genres,Cast Names,Director Name,Country
0,청설,"[로맨스, 드라마]","[Ivy Chen, 천옌시, 펑위옌, 林美秀, 羅北安]",Cheng Fenfen,[TW]
1,나의 소녀시대,"[로맨스, 코미디]","[송운화, 진교은, 왕대륙, Jerry Yan, Dewi Chien, 유덕화, Be...",Frankie Chen,"[TW, CN, HK]"
2,모노노케 히메,"[모험, 판타지, 애니메이션]","[松田洋治, 石田ゆり子, 다나카 유코, 코바야시 카오루, 西村雅彥, 카미죠 츠네히코...",미야자키 하야오,[JP]
3,미 비포 유,"[드라마, 로맨스]","[에밀리아 클라크, 샘 클라플린, 제나 콜먼, 찰스 댄스, Stephen Peaco...",Thea Sharrock,[US]
4,인턴,[코미디],"[로버트 드 니로, 앤 해서웨이, Anders Holm, 르네 루소, 냇 울프, 애...",낸시 마이어스,[US]
5,세 얼간이,"[드라마, 코미디]","[아미르 칸, 카리나 카푸르, R. Madhavan, Sharman Joshi, B...",Rajkumar Hirani,[IN]
6,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]","[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua...",주걸륜,[TW]
7,헝거게임: 판엠의 불꽃,"[SF, 모험, 판타지]","[제니퍼 로렌스, 조쉬 허처슨, 리암 헴스워스, 스탠리 투치, 엘리자베스 뱅크스, ...",게리 로스,[US]
8,해리 포터와 마법사의 돌,"[모험, 판타지]","[리처드 해리스, 매기 스미스, 로비 콜트레인, Saunders Triplets, ...",크리스 콜럼버스,[GB]
9,트랜스포머,"[모험, SF, 액션]","[샤이아 라보프, 조시 더멜, 메간 폭스, 레이첼 테일러, 타이리스 깁슨, 존 보이...",마이클 베이,[US]

In [58]:
all_genres = [genre for genres in movie2["Genres"] for genre in genres]
genre_counts2 = pd.Series(all_genres).value_counts().reset_index()
genre_counts2.columns = ["Genre", "Count"]

genre_counts2 = genre_counts2[genre_counts2['Count'] > 1]
genre_counts2

  Genre  Count
0   드라마      4
1    모험      4
2   판타지      4
3   로맨스      3
4   코미디      3
5    SF      2

In [59]:
import asyncio
import pandas as pd
from odmantic import AIOEngine
from motor.motor_asyncio import AsyncIOMotorClient


# MongoDB 연결 설정
client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
engine = AIOEngine(client=client, database="movies_db3")


# 데이터 가져오기 함수
async def fetch_movies():
    movies = await engine.find(Movie)

    # 영화 정보를 저장할 리스트
    movie_data = []

    for movie in movies:
        # cast에서 name만 필터링
        filtered_cast_names = [c["name"] for c in movie.cast] if movie.cast else None
        
        # director에서 name만 필터링
        director_name = movie.director["name"] if movie.director else None

        # 영화 정보를 딕셔너리로 저장
        movie_data.append({
            "Title": movie.title,
            "Genres": movie.genres,
            "Cast Names": filtered_cast_names,
            "Director Name": director_name,
            "Country": movie.original_country
        })

    # DataFrame 생성
    df = pd.DataFrame(movie_data)
    return df

# 비동기 실행
movie3 = asyncio.run(fetch_movies())

In [60]:
movie3

,Title,Genres,Cast Names,Director Name,Country
0,화이트 칙스,"[코미디, 범죄]","[숀 웨이언스, 말런 웨이언스, 제이미 킹, Frankie Faison, Maitl...",Keenen Ivory Wayans,[US]
1,코코,"[가족, 애니메이션, 음악, 모험]","[벤저민 브랫, 가엘 가르시아 베르날, Renee Victor, Anthony Go...",리 언크리치,[US]
2,몽상가들,"[드라마, 로맨스]","[Michael Pitt, 에바 그린, 루이 가렐, Anna Chancellor, ...",베르나르도 베르톨루치,"[FR, IT, GB]"
3,사바하,"[공포, 미스터리, 스릴러, 범죄]","[이정재, 박정민, 정진영, 진선규, 이재인, 이다윗, 유지태, 지승현]",장재현,[KR]
4,동주,"[드라마, 역사]","[강하늘, 박정민, 신윤주, 김중팔, Kim Ooh-jin, 민진웅, 최종률, 이선주]",이준익,[KR]
5,매드맥스: 분노의 도로,"[액션, 모험, SF]","[톰 하디, 니콜라스 홀트, Richard Norton, 조이 크래비츠, 애비 리,...",조지 밀러,"[AU, US]"
6,중경삼림,"[드라마, 코미디, 로맨스]","[임청하, 양조위, Faye Wong, 금성무, Valerie Chow, Kwan ...",왕가위,[HK]
7,기적:그 날의 소비토,[드라마],"[마츠자카 토리, 스다 마사키, 쿠츠나 시오리, 코바야시 카오루, 아소 유미, 平祐...",兼重淳,[JP]
8,헤어질 결심,"[스릴러, 미스터리, 로맨스]","[박해일, 탕웨이, 이정현, 고경표, 정이서, 이용녀, 정영숙, 박용우]",박찬욱,[KR]
9,물에 빠진 나이프,"[로맨스, 드라마]","[스다 마사키, 고마츠 나나, 重岡大毅, 카미시라이시 모네, 斉藤陽一郎, 堀内正美,...",山戸結希,[JP]

In [61]:
all_genres = [genre for genres in movie3["Genres"] for genre in genres]
genre_counts3 = pd.Series(all_genres).value_counts().reset_index()
genre_counts3.columns = ["Genre", "Count"]

genre_counts3 = genre_counts3[genre_counts3['Count'] > 1]
genre_counts3

  Genre  Count
0   드라마      5
1   로맨스      4
2   코미디      2
3    범죄      2
4    모험      2
5  미스터리      2
6   스릴러      2

In [62]:
import asyncio
import pandas as pd
from odmantic import AIOEngine
from motor.motor_asyncio import AsyncIOMotorClient


# MongoDB 연결 설정
client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
engine = AIOEngine(client=client, database="movies_db4")


# 데이터 가져오기 함수
async def fetch_movies():
    movies = await engine.find(Movie)

    # 영화 정보를 저장할 리스트
    movie_data = []

    for movie in movies:
        # cast에서 name만 필터링
        filtered_cast_names = [c["name"] for c in movie.cast] if movie.cast else None
        
        # director에서 name만 필터링
        director_name = movie.director["name"] if movie.director else None

        # 영화 정보를 딕셔너리로 저장
        movie_data.append({
            "Title": movie.title,
            "Genres": movie.genres,
            "Cast Names": filtered_cast_names,
            "Director Name": director_name,
            "Country": movie.original_country
        })

    # DataFrame 생성
    df = pd.DataFrame(movie_data)
    return df

# 비동기 실행
movie4 = asyncio.run(fetch_movies())

In [63]:
movie4

,Title,Genres,Cast Names,Director Name,Country
0,헤이트풀8,"[드라마, 미스터리, 서부]","[사무엘 L. 잭슨, 커트 러셀, 월튼 고긴스, 제니퍼 제이슨 리, 팀 로스, 조이...",쿠엔틴 타란티노,[US]
1,반지의 제왕: 왕의 귀환,"[모험, 판타지, 액션]","[일라이저 우드, 이안 맥켈런, 비고 모텐슨, 리브 타일러, 올랜도 블룸, 존 라이...",피터 잭슨,[US]
2,조커,"[범죄, 스릴러, 드라마]","[재지 비츠, 로버트 드 니로, 프랜시스 콘로이, Josh Pais, 마크 매런, ...",토드 필립스,[US]
3,캐리비안의 해적: 망자의 함,"[모험, 판타지, 액션]","[키이라 나이틀리, 올랜도 블룸, Jack Davenport, 빌 나이, 스텔란 스...",고어 버빈스키,[US]
4,서울의 봄,"[드라마, 역사, 스릴러, 범죄, 전쟁]","[황정민, 정우성, 박해준, 이성민, 김성균, Choe Min, 전진기, Yum D...",김성수,[KR]
5,기생충,"[코미디, 스릴러, 드라마]","[송강호, 이선균, 조여정, 최우식, 박소담, 장혜진, 이정은, 정지소]",봉준호,[KR]
6,보헤미안 랩소디,"[음악, 드라마]","[벤 하디, Gwilym Lee, Joseph Mazzello, 루시 보인턴, 마이...",브라이언 싱어,"[US, GB]"
7,건축학개론,"[코미디, 로맨스]","[한가인, 이제훈, 수지, 고준희, 엄태웅, 유연석, 조정석, 조현철]",이용주,[KR]
8,존 윅 4,"[액션, 스릴러, 범죄]","[키아누 리브스, 견자단, 빌 스카스가드, 이언 맥셰인, 로렌스 피시번, 랜스 레딕...",채드 스타헬스키,[US]
9,쇼생크 탈출,"[드라마, 범죄]","[팀 로빈스, 모건 프리먼, Bob Gunton, William Sadler, 클랜...",프랭크 다라본트,[US]

In [64]:
all_genres = [genre for genres in movie4["Genres"] for genre in genres]
genre_counts4 = pd.Series(all_genres).value_counts().reset_index()
genre_counts4.columns = ["Genre", "Count"]

genre_counts4 = genre_counts4[genre_counts4['Count'] > 1]
genre_counts4

  Genre  Count
0   드라마      6
1    범죄      4
2   스릴러      4
3    액션      3
4    모험      2
5   판타지      2
6   코미디      2

In [65]:
import asyncio
import pandas as pd
from odmantic import AIOEngine
from motor.motor_asyncio import AsyncIOMotorClient


# MongoDB 연결 설정
client = AsyncIOMotorClient("mongodb://root:team3@localhost:27017/")
engine = AIOEngine(client=client, database="movies_db5")


# 데이터 가져오기 함수
async def fetch_movies():
    movies = await engine.find(Movie)

    # 영화 정보를 저장할 리스트
    movie_data = []

    for movie in movies:
        # cast에서 name만 필터링
        filtered_cast_names = [c["name"] for c in movie.cast] if movie.cast else None
        
        # director에서 name만 필터링
        director_name = movie.director["name"] if movie.director else None

        # 영화 정보를 딕셔너리로 저장
        movie_data.append({
            "Title": movie.title,
            "Genres": movie.genres,
            "Cast Names": filtered_cast_names,
            "Director Name": director_name,
            "Country": movie.original_country
        })

    # DataFrame 생성
    df = pd.DataFrame(movie_data)
    return df

# 비동기 실행
movie5 = asyncio.run(fetch_movies())

In [66]:
movie5

,Title,Genres,Cast Names,Director Name,Country
0,위대한 레보스키,"[코미디, 범죄]","[제프 브리지스, 존 굿맨, 줄리앤 무어, 스티브 부세미, David Huddles...",조엘 코엔,[US]
1,이레이저 헤드,[공포],"[Jack Nance, Charlotte Stewart, Allen Joseph, ...",데이비드 린치,[US]
2,멀홀랜드 드라이브,"[스릴러, 드라마, 미스터리]","[나오미 왓츠, Laura Harring, Ann Miller, Dan Hedaya...",데이비드 린치,[US]
3,블루 벨벳,"[미스터리, 스릴러, 범죄, 로맨스]","[이사벨라 로셀리니, 카일 맥라클란, 데니스 호퍼, 로라 던, 호프 랭, Dean ...",데이비드 린치,[US]
4,토니 타키타니,[드라마],"[Takahumi Shinohara, 니시지마 히데토시, イッセー尾形, 미야자와 리...",이치가와 준,[JP]
5,혐오스런 마츠코의 일생,"[코미디, 드라마, 음악]","[나카타니 미키, 나가야마 에이타, 이세야 유스케, 市川実日子, 黒沢あすか, 武田真...",나카시마 테츠야,[JP]
6,곡성,"[공포, 미스터리]","[곽도원, 황정민, 천우희, 장소연, 조한철, 쿠니무라 준, 김환희, 손강국]",나홍진,[KR]
7,굿타임,"[범죄, 스릴러]","[로버트 패틴슨, 제니퍼 제이슨 리, Barkhad Abdi, 베니 사프디, Mar...",조쉬 사프디,[US]
8,보 이즈 어프레이드,"[코미디, 모험, 판타지]","[호아킨 피닉스, 네이선 레인, 패티 루폰, 에이미 라이언, Kylie Rogers...",아리 애스터,[US]
9,언컷 젬스,"[드라마, 스릴러, 범죄]","[애덤 샌들러, Judd Hirsch, Eric Bogosian, 라키스 스탠필드,...",조쉬 사프디,[US]
10,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]","[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua...",주걸륜,[TW]

In [67]:
all_genres = [genre for genres in movie5["Genres"] for genre in genres]
genre_counts5 = pd.Series(all_genres).value_counts().reset_index()
genre_counts5.columns = ["Genre", "Count"]

genre_counts5 = genre_counts5[genre_counts5['Count'] > 1]
genre_counts5

  Genre  Count
0   스릴러      5
1   드라마      5
2    범죄      4
3   코미디      3
4  미스터리      3
5    공포      2
6   판타지      2

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import spearmanr
from sklearn.metrics.pairwise import cosine_similarity

# Store DataFrames in a list
genre_counts_list = [genre_counts, genre_counts2, genre_counts3, genre_counts4, genre_counts5]

# Merge all genres and create a unified DataFrame
all_genres = set()
for df in genre_counts_list:
    all_genres.update(df['Genre'])

all_genres = sorted(all_genres)  # Sort genres for consistency

# Create unified count DataFrame for all users
user_genre_matrix = pd.DataFrame({genre: [0] * len(genre_counts_list) for genre in all_genres})

for i, df in enumerate(genre_counts_list):
    for _, row in df.iterrows():
        user_genre_matrix.loc[i, row['Genre']] = row['Count']

# 1. Weighted Cosine Similarity
weighted_cosine_sim = cosine_similarity(user_genre_matrix)

# Convert results to DataFrame for better visualization
weighted_cosine_df = pd.DataFrame(weighted_cosine_sim, columns=["규석", "정은", "수진", "영인", "우현"], index=["규석", "정은", "수진", "영인", "우현"])

# Display results
print("Weighted Cosine Similarity:")
weighted_cosine_df

Weighted Cosine Similarity:

          규석        정은        수진        영인        우현
규석  1.000000  0.723138  0.762913  0.544151  0.516091
정은  0.723138  1.000000  0.703953  0.582792  0.461061
수진  0.762913  0.703953  1.000000  0.732882  0.734182
영인  0.544151  0.582792  0.732882  1.000000  0.839894
우현  0.516091  0.461061  0.734182  0.839894  1.000000

In [69]:
print("\nSpearman Correlation:")
spearman_corr_df

Spearman Correlation:

          규석        정은        수진        영인        우현
규석  1.000000  0.547719  0.433962  0.073627  0.103907
정은  0.547719  1.000000  0.357724  0.169700 -0.066835
수진  0.433962  0.357724  1.000000  0.386757  0.487502
영인  0.073627  0.169700  0.386757  1.000000  0.624050
우현  0.103907 -0.066835  0.487502  0.624050  1.000000

### 배우

In [70]:
all_casts = [cast for casts in movie["Cast Names"] for cast in casts]
cast_counts = pd.Series(all_casts).value_counts().reset_index()
cast_counts.columns = ["Cast", "Count"]

cast_counts = cast_counts[cast_counts['Count'] > 2]
cast_counts

Empty DataFrame
Columns: [Cast, Count]
Index: []

In [72]:
all_casts = [cast for casts in movie2["Cast Names"] for cast in casts]
cast_counts2 = pd.Series(all_casts).value_counts().reset_index()
cast_counts2.columns = ["Cast", "Count"]

cast_counts2 = cast_counts2[cast_counts2['Count'] > 2]
cast_counts2

Empty DataFrame
Columns: [Cast, Count]
Index: []

In [73]:
all_casts = [cast for casts in movie3["Cast Names"] for cast in casts]
cast_counts3 = pd.Series(all_casts).value_counts().reset_index()
cast_counts3.columns = ["Cast", "Count"]

cast_counts3 = cast_counts3[cast_counts3['Count'] > 2]
cast_counts3

Empty DataFrame
Columns: [Cast, Count]
Index: []

In [74]:
all_casts = [cast for casts in movie4["Cast Names"] for cast in casts]
cast_counts4 = pd.Series(all_casts).value_counts().reset_index()
cast_counts4.columns = ["Cast", "Count"]

cast_counts4 = cast_counts4[cast_counts4['Count'] > 2]
cast_counts4

Empty DataFrame
Columns: [Cast, Count]
Index: []

In [75]:
all_casts = [cast for casts in movie5["Cast Names"] for cast in casts]
cast_counts5 = pd.Series(all_casts).value_counts().reset_index()
cast_counts5.columns = ["Cast", "Count"]

cast_counts5 = cast_counts5[cast_counts5['Count'] > 2]
cast_counts5

Empty DataFrame
Columns: [Cast, Count]
Index: []

### 감독

In [106]:
director_counts = movie['Director Name'].value_counts().reset_index()
director_counts = director_counts[director_counts['count'] > 1]
director_counts

Empty DataFrame
Columns: [Director Name, count]
Index: []

In [109]:
director_counts2 = movie2['Director Name'].value_counts().reset_index()
director_counts2 = director_counts2[director_counts2['count'] > 1]
director_counts2

Empty DataFrame
Columns: [Director Name, count]
Index: []

In [110]:
director_counts3 = movie3['Director Name'].value_counts().reset_index()
director_counts3 = director_counts3[director_counts3['count'] > 1]
director_counts3

Empty DataFrame
Columns: [Director Name, count]
Index: []

In [111]:
director_counts4 = movie4['Director Name'].value_counts().reset_index()
director_counts4 = director_counts4[director_counts4['count'] > 1]
director_counts4

Empty DataFrame
Columns: [Director Name, count]
Index: []

In [112]:
director_counts5 = movie5['Director Name'].value_counts().reset_index()
director_counts5 = director_counts5[director_counts5['count'] > 1]
director_counts5

  Director Name  count
0       데이비드 린치      3
1        조쉬 사프디      2

In [113]:
dfs = [movie, movie2, movie3, movie4, movie5] 

# Create sets of titles from each DataFrame
movies = [set(df['Director Name']) for df in dfs]

In [115]:
import pandas as pd
from itertools import combinations

# Calculate Jaccard similarity between all pairs of sets
results = []
for (i, s1), (j, s2) in combinations(enumerate(movies, start=1), 2):
    intersection = len(s1 & s2)
    union = len(s1 | s2)
    jaccard_similarity = intersection / union
    results.append({"Set1": i, "Set2": j, "Jaccard Similarity": jaccard_similarity})

# Convert results to a DataFrame
jaccard_df = pd.DataFrame(results)
jaccard_df

   Set1  Set2  Jaccard Similarity
0     1     2            0.111111
1     1     3            0.000000
2     1     4            0.052632
3     1     5            0.058824
4     2     3            0.000000
5     2     4            0.000000
6     2     5            0.058824
7     3     4            0.000000
8     3     5            0.000000
9     4     5            0.000000

In [129]:
dfs = [director_counts, director_counts2, director_counts3, director_counts4, director_counts5] 

# Create sets of titles from each DataFrame
movies = [set(df['Director Name']) for df in dfs]

import pandas as pd
from itertools import combinations

# Calculate Jaccard similarity between all pairs of sets
results = []
for (i, s1), (j, s2) in combinations(enumerate(movies, start=1), 2):
    # Calculate intersection and union
    intersection = len(s1 & s2)
    union = len(s1 | s2)
    
    # If union is 0 (both sets are empty), similarity is 0
    jaccard_similarity = 0 if union == 0 else intersection / union
    results.append({"Set1": i, "Set2": j, "Jaccard Similarity": jaccard_similarity})

# Convert results to a DataFrame
jaccard_df = pd.DataFrame(results)
jaccard_df

   Set1  Set2  Jaccard Similarity
0     1     2                 0.0
1     1     3                 0.0
2     1     4                 0.0
3     1     5                 0.0
4     2     3                 0.0
5     2     4                 0.0
6     2     5                 0.0
7     3     4                 0.0
8     3     5                 0.0
9     4     5                 0.0

In [126]:
cast_counts5

Empty DataFrame
Columns: [Cast, Count]
Index: []

In [132]:
import pandas as pd
from itertools import combinations

dfs = [cast_counts, cast_counts2, cast_counts3, cast_counts4, cast_counts5] 

# Create sets of titles from each DataFrame
movies = [set(df['Count']) for df in dfs]

# Calculate Jaccard similarity between all pairs of sets
results = []
for (i, s1), (j, s2) in combinations(enumerate(movies, start=1), 2):
    # Calculate intersection and union
    intersection = len(s1 & s2)
    union = len(s1 | s2)
    
    # If union is 0 (both sets are empty), similarity is 0
    jaccard_similarity = 0 if union == 0 else intersection / union
    results.append({"Set1": i, "Set2": j, "Jaccard Similarity": jaccard_similarity})

# Convert results to a DataFrame
jaccard_df = pd.DataFrame(results)
jaccard_df

   Set1  Set2  Jaccard Similarity
0     1     2                   0
1     1     3                   0
2     1     4                   0
3     1     5                   0
4     2     3                   0
5     2     4                   0
6     2     5                   0
7     3     4                   0
8     3     5                   0
9     4     5                   0

# Spark

In [135]:
%pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 21.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=cfcaf927fa922a626b059ec4cc300b3cbecf0566147eba2cdf5bbb9b7e4b2590
  Stored in directory: /home/kyuseok00/.cache/pip/wheels/97/f5/c0/947e2c0942b361ffe58651f36bd7f13772675b3863fd63d1b1
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.3

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Test

### 장르

In [1]:
import requests
import pandas as pd

# 사용자 ID와 영화 ID 리스트
user_ids = ['seokxkyu', 'j25ng', 's00zzang', 'masters4297', 'thephunkmonk']
user_movie_dict = {
    'seokxkyu': [316029, 616670, 567646, 122906, 84111, 424694, 313369, 198277, 257211, 20342],
    'j25ng': [41531, 354072, 128, 296096, 257211, 20453, 20342, 70160, 671, 1858],
    's00zzang': [12153, 354912, 1278, 556509, 382336, 76341, 11104, 410225, 705996, 410220],
    'masters4297': [273248, 122, 475557, 58, 919207, 496243, 424694, 107235, 603692, 278],
    'thephunkmonk': [115, 985, 1018, 793, 29269, 31512, 293670, 429200, 798286, 473033]
}

# FastAPI 호출 함수
def fetch_movies(movie_ids):
    url = "http://localhost:8000/movies/list"  # FastAPI endpoint
    try:
        response = requests.get(url, params={"movie_ids": movie_ids})
        if response.status_code == 200:
            return response.json().get("movies", [])
        else:
            print(f"Error fetching movies for {movie_ids}: {response.text}")
            return []
    except Exception as e:
        print(f"Exception occurred: {e}")
        return []

# 데이터를 수집하여 Python 리스트로 변환
data = []
for user_id in user_ids:
    movie_ids = user_movie_dict[user_id]  # user_id에 해당하는 영화 ID 리스트 가져오기
    movies = fetch_movies(movie_ids)
    for movie in movies:
        data.append({
            "user_id": user_id,
            "movie_id": movie["movie_id"],
            "title": movie["title"],
            "genres": movie["genres"],
            "director": movie["director"],
            "cast": movie["cast"]
        })

# Pandas DataFrame 생성
df = pd.DataFrame(data)
df

,user_id,movie_id,title,genres,director,cast
0,seokxkyu,316029,위대한 쇼맨,[드라마],마이클 그레이시,"[휴 잭맨, 레베카 퍼거슨, 잭 에프론, 미셸 윌리엄스, 젠데이아, Fredric ..."
1,seokxkyu,616670,인생은 아름다워,"[음악, 드라마, 로맨스]",최국희,"[류승룡, 염정아, 옹성우, 박세완, 염혜란, 박영규, 심달기, 전무송]"
2,seokxkyu,567646,극한직업,"[액션, 코미디, 범죄]",이병헌,"[류승룡, 이하늬, 진선규, 이동휘, 공명, 김의성, 신하균, 오정세]"
3,seokxkyu,122906,어바웃 타임,"[드라마, 로맨스, 판타지]",리처드 커티스,"[레이첼 맥아담스, 빌 나이, 도널 글리슨, 톰 홀랜더, 마고 로비, Lindsay..."
4,seokxkyu,84111,"그 시절, 우리가 좋아했던 소녀","[로맨스, 코미디]",九把刀,"[柯震東, 천옌시, 郝劭文, Owodog Chuang, 蔡昌憲, 侯彥西, 彎彎, K..."
5,seokxkyu,424694,보헤미안 랩소디,"[음악, 드라마]",브라이언 싱어,"[벤 하디, Gwilym Lee, Joseph Mazzello, 루시 보인턴, 마이..."
6,seokxkyu,313369,라라랜드,"[코미디, 드라마, 로맨스, 음악]",데이미언 셔젤,"[라이언 고슬링, 엠마 스톤, Sandra Rosko, J.K. 시몬스, Finn ..."
7,seokxkyu,198277,비긴 어게인,"[코미디, 음악, 로맨스, 드라마]",존 카니,"[애덤 리바인, 키이라 나이틀리, 마크 러팔로, 헤일리 스타인펠드, 캐서린 키너, ..."
8,seokxkyu,257211,인턴,[코미디],낸시 마이어스,"[로버트 드 니로, 앤 해서웨이, Anders Holm, 르네 루소, 냇 울프, 애..."
9,seokxkyu,20342,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]",주걸륜,"[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua..."
10,j25ng,257211,인턴,[코미디],낸시 마이어스,"[로버트 드 니로, 앤 해서웨이, Anders Holm, 르네 루소, 냇 울프, 애..."
11,j25ng,20342,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]",주걸륜,"[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua..."
12,j25ng,41531,청설,"[로맨스, 드라마]",Cheng Fenfen,"[Ivy Chen, 천옌시, 펑위옌, 林美秀, 羅北安]"
13,j25ng,354072,나의 소녀시대,"[로맨스, 코미디]",Frankie Chen,"[송운화, 진교은, 왕대륙, Jerry Yan, Dewi Chien, 유덕화, Be..."
14,j25ng,128,모노노케 히메,"[모험, 판타지, 애니메이션]",미야자키 하야오,"[松田洋治, 石田ゆり子, 다나카 유코, 코바야시 카오루, 西村雅彥, 카미죠 츠네히코..."
15,j25ng,296096,미 비포 유,"[드라마, 로맨스]",Thea Sharrock,"[에밀리아 클라크, 샘 클라플린, 제나 콜먼, 찰스 댄스, Stephen Peaco..."
16,j25ng,20453,세 얼간이,"[드라마, 코미디]",Rajkumar Hirani,"[아미르 칸, 카리나 카푸르, R. Madhavan, Sharman Joshi, B..."
17,j25ng,70160,헝거게임: 판엠의 불꽃,"[SF, 모험, 판타지]",게리 로스,"[제니퍼 로렌스, 조쉬 허처슨, 리암 헴스워스, 스탠리 투치, 엘리자베스 뱅크스, ..."
18,j25ng,671,해리 포터와 마법사의 돌,"[모험, 판타지]",크리스 콜럼버스,"[리처드 해리스, 매기 스미스, 로비 콜트레인, Saunders Triplets, ..."
19,j25ng,1858,트랜스포머,"[모험, SF, 액션]",마이클 베이,"[샤이아 라보프, 조시 더멜, 메간 폭스, 레이첼 테일러, 타이리스 깁슨, 존 보이..."
20,s00zzang,12153,화이트 칙스,"[코미디, 범죄]",Keenen Ivory Wayans,"[숀 웨이언스, 말런 웨이언스, 제이미 킹, Frankie Faison, Maitl..."
21,s00zzang,354912,코코,"[가족, 애니메이션, 음악, 모험]",리 언크리치,"[벤저민 브랫, 가엘 가르시아 베르날, Renee Victor, Anthony Go..."
22,s00zzang,1278,몽상가들,"[드라마, 로맨스]",베르나르도 베르톨루치,"[Michael Pitt, 에바 그린, 루이 가렐, Anna Chancellor, ..."
23,s00zzang,556509,사바하,"[공포, 미스터리, 스릴러, 범죄]",장재현,"[이정재, 박정민, 정진영, 진선규, 이재인, 이다윗, 유지태, 지승현]"
24,s00zzang,382336,동주,"[드라마, 역사]",이준익,"[강하늘, 박정민, 신윤주, 김정팔, Kim Ooh-jin, 민진웅, 최종률, 이선주]"
25,s00zzang,76341,매드맥스: 분노의 도로,"[액션, 모험, SF]",조지 밀러,"[톰 하디, 니콜라스 홀트, Richard Norton, 조이 크래비츠, 애비 리,..."
26,s00zzang,11104,중경삼림,"[드라마, 코미디, 로맨스]",왕가위,"[임청하, 양조위, Faye Wong, 금성무, Valerie Chow, Kwan ..."
27,s00zzang,410225,기적:그 날의 소비토,[드라마],兼重淳,"[마츠자카 토리, 스다 마사키, 쿠츠나 시오리, 코바야시 카오루, 아소 유미, 平祐..."
28,s00zzang,705996,헤어질 결심,"[스릴러, 미스터리, 로맨스]",박찬욱,"[박해일, 탕웨이, 이정현, 고경표, 정이서, 이용녀, 정영숙, 박용우]"
29,s00zzang,410220,물에 빠진 나이프,"[로맨스, 드라마]",山戸結希,"[스다 마사키, 고마츠 나나, 重岡大毅, 카미시라이시 모네, 斉藤陽一郎, 堀内正美,..."
30,masters4297,424694,보헤미안 랩소디,"[음악, 드라마]",브라이언 싱어,"[벤 하디, Gwilym Lee, Joseph Mazzello, 루시 보인턴, 마이..."
31,masters4297,273248,헤이트풀8,"[드라마, 미스터리, 서부]",쿠엔틴 타란티노,"[사무엘 L. 잭슨, 커트 러셀, 월튼 고긴스, 제니퍼 제이슨 리, 팀 로스, 조이..."
32,masters4297,122,반지의 제왕: 왕의 귀환,"[모험, 판타지, 액션]",피터 잭슨,"[일라이저 우드, 이안 맥켈런, 비고 모텐슨, 리브 타일러, 올랜도 블룸, 존 라이..."
33,masters4297,475557,조커,"[범죄, 스릴러, 드라마]",토드 필립스,"[재지 비츠, 로버트 드 니로, 프랜시스 콘로이, Josh Pais, 마크 매런, ..."
34,masters4297,58,캐리비안의 해적: 망자의 함,"[모험, 판타지, 액션]",고어 버빈스키,"[키이라 나이틀리, 올랜도 블룸, Jack Davenport, 빌 나이, 스텔란 스..."
35,masters4297,919207,서울의 봄,"[드라마, 역사, 스릴러, 범죄, 전쟁]",김성수,"[황정민, 정우성, 박해준, 이성민, 김성균, Choe Min, 전진기, Yum D..."
36,masters4297,496243,기생충,"[코미디, 스릴러, 드라마]",봉준호,"[송강호, 이선균, 조여정, 최우식, 박소담, 장혜진, 이정은, 정지소]"
37,masters4297,107235,건축학개론,"[코미디, 로맨스]",이용주,"[한가인, 이제훈, 수지, 고준희, 엄태웅, 유연석, 조정석, 조현철]"
38,masters4297,603692,존 윅 4,"[액션, 스릴러, 범죄]",채드 스타헬스키,"[키아누 리브스, 견자단, 빌 스카스가드, 이언 맥셰인, 로렌스 피시번, 랜스 레딕..."
39,masters4297,278,쇼생크 탈출,"[드라마, 범죄]",프랭크 다라본트,"[팀 로빈스, 모건 프리먼, 밥 건턴, William Sadler, 클랜시 브라운,..."
40,thephunkmonk,115,위대한 레보스키,"[코미디, 범죄]",조엘 코엔,"[제프 브리지스, 존 굿맨, 줄리앤 무어, 스티브 부세미, David Huddles..."
41,thephunkmonk,985,이레이저 헤드,[공포],데이비드 린치,"[Jack Nance, Charlotte Stewart, Allen Joseph, ..."
42,thephunkmonk,1018,멀홀랜드 드라이브,"[스릴러, 드라마, 미스터리]",데이비드 린치,"[나오미 왓츠, Laura Harring, Ann Miller, Dan Hedaya..."
43,thephunkmonk,793,블루 벨벳,"[미스터리, 스릴러, 범죄, 로맨스]",데이비드 린치,"[이사벨라 로셀리니, 카일 맥라클란, 데니스 호퍼, 로라 던, 호프 랭, Dean ..."
44,thephunkmonk,29269,토니 타키타니,[드라마],이치가와 준,"[Takahumi Shinohara, 니시지마 히데토시, イッセー尾形, 미야자와 리..."
45,thephunkmonk,31512,혐오스런 마츠코의 일생,"[코미디, 드라마, 음악]",나카시마 테츠야,"[나카타니 미키, 나가야마 에이타, 이세야 유스케, 市川実日子, 黒沢あすか, 武田真..."
46,thephunkmonk,293670,곡성,"[공포, 미스터리]",나홍진,"[곽도원, 황정민, 천우희, 장소연, 조한철, 쿠니무라 준, 김환희, 손강국]"
47,thephunkmonk,429200,굿타임,"[범죄, 스릴러]",베니 사프디,"[로버트 패틴슨, 제니퍼 제이슨 리, Barkhad Abdi, 베니 사프디, Mar..."
48,thephunkmonk,798286,보 이즈 어프레이드,"[코미디, 모험, 판타지]",아리 애스터,"[호아킨 피닉스, 네이선 레인, 패티 루폰, 에이미 라이언, Kylie Rogers..."
49,thephunkmonk,473033,언컷 젬스,"[드라마, 스릴러, 범죄]",베니 사프디,"[애덤 샌들러, Judd Hirsch, Eric Bogosian, 라키스 스탠필드,..."

In [2]:
import requests

# 사용자별 영화 ID 리스트
user_movie_ids = [
    [316029, 616670, 567646, 122906, 84111, 424694, 313369, 198277, 257211, 20342],
    [41531, 354072, 128, 296096, 257211, 20453, 20342, 70160, 671, 1858],
    [12153, 354912, 1278, 556509, 382336, 76341, 11104, 410225, 705996, 410220],
    [273248, 122, 475557, 58, 919207, 496243, 424694, 107235, 603692, 278],
    [115, 985, 1018, 793, 29269, 31512, 293670, 429200, 798286, 473033]
]  # 예시: 영화 ID 그룹

# FastAPI 호출 함수
def fetch_movies(movie_ids):
    url = "http://localhost:8000/movies/list"  # FastAPI endpoint
    try:
        response = requests.get(url, params={"movie_ids": movie_ids})
        if response.status_code == 200:
            return response.json().get("movies", [])
        else:
            print(f"Error fetching movies for {movie_ids}: {response.text}")
            return []
    except Exception as e:
        print(f"Exception occurred: {e}")
        return []

# 데이터를 수집하여 Python 리스트로 변환
data = []
for user_id, movie_ids in enumerate(user_movie_ids):
    movies = fetch_movies(movie_ids)
    for movie in movies:
        data.append({
            "user_id": user_id,
            "movie_id": movie["movie_id"],
            "title": movie["title"],
            "genres": movie["genres"],
            "director": movie["director"],
            "cast": movie['cast']
        })

# 데이터 출력
# for record in data:
    # print(record)

df = pd.DataFrame(data)
df

,user_id,movie_id,title,genres,director,cast
0,0,316029,위대한 쇼맨,[드라마],마이클 그레이시,"[휴 잭맨, 레베카 퍼거슨, 잭 에프론, 미셸 윌리엄스, 젠데이아, Fredric ..."
1,0,616670,인생은 아름다워,"[음악, 드라마, 로맨스]",최국희,"[류승룡, 염정아, 옹성우, 박세완, 염혜란, 박영규, 심달기, 전무송]"
2,0,567646,극한직업,"[액션, 코미디, 범죄]",이병헌,"[류승룡, 이하늬, 진선규, 이동휘, 공명, 김의성, 신하균, 오정세]"
3,0,122906,어바웃 타임,"[드라마, 로맨스, 판타지]",리처드 커티스,"[레이첼 맥아담스, 빌 나이, 도널 글리슨, 톰 홀랜더, 마고 로비, Lindsay..."
4,0,84111,"그 시절, 우리가 좋아했던 소녀","[로맨스, 코미디]",九把刀,"[柯震東, 천옌시, 郝劭文, Owodog Chuang, 蔡昌憲, 侯彥西, 彎彎, K..."
5,0,424694,보헤미안 랩소디,"[음악, 드라마]",브라이언 싱어,"[벤 하디, Gwilym Lee, Joseph Mazzello, 루시 보인턴, 마이..."
6,0,313369,라라랜드,"[코미디, 드라마, 로맨스, 음악]",데이미언 셔젤,"[라이언 고슬링, 엠마 스톤, Sandra Rosko, J.K. 시몬스, Finn ..."
7,0,198277,비긴 어게인,"[코미디, 음악, 로맨스, 드라마]",존 카니,"[애덤 리바인, 키이라 나이틀리, 마크 러팔로, 헤일리 스타인펠드, 캐서린 키너, ..."
8,0,257211,인턴,[코미디],낸시 마이어스,"[로버트 드 니로, 앤 해서웨이, Anders Holm, 르네 루소, 냇 울프, 애..."
9,0,20342,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]",주걸륜,"[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua..."
10,1,257211,인턴,[코미디],낸시 마이어스,"[로버트 드 니로, 앤 해서웨이, Anders Holm, 르네 루소, 냇 울프, 애..."
11,1,20342,말할 수 없는 비밀,"[판타지, 드라마, 스릴러]",주걸륜,"[주걸륜, 계륜미, 황추생, Alice Tzeng, So Ming-Ming, Hua..."
12,1,41531,청설,"[로맨스, 드라마]",Cheng Fenfen,"[Ivy Chen, 천옌시, 펑위옌, 林美秀, 羅北安]"
13,1,354072,나의 소녀시대,"[로맨스, 코미디]",Frankie Chen,"[송운화, 진교은, 왕대륙, Jerry Yan, Dewi Chien, 유덕화, Be..."
14,1,128,모노노케 히메,"[모험, 판타지, 애니메이션]",미야자키 하야오,"[松田洋治, 石田ゆり子, 다나카 유코, 코바야시 카오루, 西村雅彥, 카미죠 츠네히코..."
15,1,296096,미 비포 유,"[드라마, 로맨스]",Thea Sharrock,"[에밀리아 클라크, 샘 클라플린, 제나 콜먼, 찰스 댄스, Stephen Peaco..."
16,1,20453,세 얼간이,"[드라마, 코미디]",Rajkumar Hirani,"[아미르 칸, 카리나 카푸르, R. Madhavan, Sharman Joshi, B..."
17,1,70160,헝거게임: 판엠의 불꽃,"[SF, 모험, 판타지]",게리 로스,"[제니퍼 로렌스, 조쉬 허처슨, 리암 헴스워스, 스탠리 투치, 엘리자베스 뱅크스, ..."
18,1,671,해리 포터와 마법사의 돌,"[모험, 판타지]",크리스 콜럼버스,"[리처드 해리스, 매기 스미스, 로비 콜트레인, Saunders Triplets, ..."
19,1,1858,트랜스포머,"[모험, SF, 액션]",마이클 베이,"[샤이아 라보프, 조시 더멜, 메간 폭스, 레이첼 테일러, 타이리스 깁슨, 존 보이..."
20,2,12153,화이트 칙스,"[코미디, 범죄]",Keenen Ivory Wayans,"[숀 웨이언스, 말런 웨이언스, 제이미 킹, Frankie Faison, Maitl..."
21,2,354912,코코,"[가족, 애니메이션, 음악, 모험]",리 언크리치,"[벤저민 브랫, 가엘 가르시아 베르날, Renee Victor, Anthony Go..."
22,2,1278,몽상가들,"[드라마, 로맨스]",베르나르도 베르톨루치,"[Michael Pitt, 에바 그린, 루이 가렐, Anna Chancellor, ..."
23,2,556509,사바하,"[공포, 미스터리, 스릴러, 범죄]",장재현,"[이정재, 박정민, 정진영, 진선규, 이재인, 이다윗, 유지태, 지승현]"
24,2,382336,동주,"[드라마, 역사]",이준익,"[강하늘, 박정민, 신윤주, 김정팔, Kim Ooh-jin, 민진웅, 최종률, 이선주]"
25,2,76341,매드맥스: 분노의 도로,"[액션, 모험, SF]",조지 밀러,"[톰 하디, 니콜라스 홀트, Richard Norton, 조이 크래비츠, 애비 리,..."
26,2,11104,중경삼림,"[드라마, 코미디, 로맨스]",왕가위,"[임청하, 양조위, Faye Wong, 금성무, Valerie Chow, Kwan ..."
27,2,410225,기적:그 날의 소비토,[드라마],兼重淳,"[마츠자카 토리, 스다 마사키, 쿠츠나 시오리, 코바야시 카오루, 아소 유미, 平祐..."
28,2,705996,헤어질 결심,"[스릴러, 미스터리, 로맨스]",박찬욱,"[박해일, 탕웨이, 이정현, 고경표, 정이서, 이용녀, 정영숙, 박용우]"
29,2,410220,물에 빠진 나이프,"[로맨스, 드라마]",山戸結希,"[스다 마사키, 고마츠 나나, 重岡大毅, 카미시라이시 모네, 斉藤陽一郎, 堀内正美,..."
30,3,424694,보헤미안 랩소디,"[음악, 드라마]",브라이언 싱어,"[벤 하디, Gwilym Lee, Joseph Mazzello, 루시 보인턴, 마이..."
31,3,273248,헤이트풀8,"[드라마, 미스터리, 서부]",쿠엔틴 타란티노,"[사무엘 L. 잭슨, 커트 러셀, 월튼 고긴스, 제니퍼 제이슨 리, 팀 로스, 조이..."
32,3,122,반지의 제왕: 왕의 귀환,"[모험, 판타지, 액션]",피터 잭슨,"[일라이저 우드, 이안 맥켈런, 비고 모텐슨, 리브 타일러, 올랜도 블룸, 존 라이..."
33,3,475557,조커,"[범죄, 스릴러, 드라마]",토드 필립스,"[재지 비츠, 로버트 드 니로, 프랜시스 콘로이, Josh Pais, 마크 매런, ..."
34,3,58,캐리비안의 해적: 망자의 함,"[모험, 판타지, 액션]",고어 버빈스키,"[키이라 나이틀리, 올랜도 블룸, Jack Davenport, 빌 나이, 스텔란 스..."
35,3,919207,서울의 봄,"[드라마, 역사, 스릴러, 범죄, 전쟁]",김성수,"[황정민, 정우성, 박해준, 이성민, 김성균, Choe Min, 전진기, Yum D..."
36,3,496243,기생충,"[코미디, 스릴러, 드라마]",봉준호,"[송강호, 이선균, 조여정, 최우식, 박소담, 장혜진, 이정은, 정지소]"
37,3,107235,건축학개론,"[코미디, 로맨스]",이용주,"[한가인, 이제훈, 수지, 고준희, 엄태웅, 유연석, 조정석, 조현철]"
38,3,603692,존 윅 4,"[액션, 스릴러, 범죄]",채드 스타헬스키,"[키아누 리브스, 견자단, 빌 스카스가드, 이언 맥셰인, 로렌스 피시번, 랜스 레딕..."
39,3,278,쇼생크 탈출,"[드라마, 범죄]",프랭크 다라본트,"[팀 로빈스, 모건 프리먼, 밥 건턴, William Sadler, 클랜시 브라운,..."
40,4,115,위대한 레보스키,"[코미디, 범죄]",조엘 코엔,"[제프 브리지스, 존 굿맨, 줄리앤 무어, 스티브 부세미, David Huddles..."
41,4,985,이레이저 헤드,[공포],데이비드 린치,"[Jack Nance, Charlotte Stewart, Allen Joseph, ..."
42,4,1018,멀홀랜드 드라이브,"[스릴러, 드라마, 미스터리]",데이비드 린치,"[나오미 왓츠, Laura Harring, Ann Miller, Dan Hedaya..."
43,4,793,블루 벨벳,"[미스터리, 스릴러, 범죄, 로맨스]",데이비드 린치,"[이사벨라 로셀리니, 카일 맥라클란, 데니스 호퍼, 로라 던, 호프 랭, Dean ..."
44,4,29269,토니 타키타니,[드라마],이치가와 준,"[Takahumi Shinohara, 니시지마 히데토시, イッセー尾形, 미야자와 리..."
45,4,31512,혐오스런 마츠코의 일생,"[코미디, 드라마, 음악]",나카시마 테츠야,"[나카타니 미키, 나가야마 에이타, 이세야 유스케, 市川実日子, 黒沢あすか, 武田真..."
46,4,293670,곡성,"[공포, 미스터리]",나홍진,"[곽도원, 황정민, 천우희, 장소연, 조한철, 쿠니무라 준, 김환희, 손강국]"
47,4,429200,굿타임,"[범죄, 스릴러]",베니 사프디,"[로버트 패틴슨, 제니퍼 제이슨 리, Barkhad Abdi, 베니 사프디, Mar..."
48,4,798286,보 이즈 어프레이드,"[코미디, 모험, 판타지]",아리 애스터,"[호아킨 피닉스, 네이선 레인, 패티 루폰, 에이미 라이언, Kylie Rogers..."
49,4,473033,언컷 젬스,"[드라마, 스릴러, 범죄]",베니 사프디,"[애덤 샌들러, Judd Hirsch, Eric Bogosian, 라키스 스탠필드,..."

In [2]:
# 장르를 펼쳐서 행을 확장
expanded_df = df.explode("genres")

# user_id와 genre로 그룹화하여 카운트 계산
user_genre_counts = expanded_df.groupby(["user_id", "genres"]).size().reset_index(name="count")

# 사용자-장르 매트릭스 변환
user_genre_matrix = user_genre_counts.pivot_table(index="user_id", columns="genres", values="count", fill_value=0)

In [3]:
user_genre_matrix = user_genre_matrix.map(lambda x: x if x >= 2 else 0.0)
user_genre_matrix

genres,SF,가족,공포,드라마,로맨스,모험,미스터리,범죄,서부,스릴러,애니메이션,액션,역사,음악,전쟁,코미디,판타지
user_id,,,,,,,,,,,,,,,,,
j25ng,2.0,0.0,0.0,4.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0
masters4297,0.0,0.0,0.0,6.0,0.0,2.0,0.0,4.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,2.0,2.0
s00zzang,0.0,0.0,0.0,5.0,4.0,2.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
seokxkyu,0.0,0.0,0.0,7.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,5.0,2.0
thephunkmonk,0.0,0.0,2.0,4.0,0.0,0.0,3.0,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

# 코사인 유사도 계산
cosine_sim = cosine_similarity(user_genre_matrix.values)  # 기존 데이터프레임에서 값만 추출

# 코사인 유사도를 데이터프레임으로 변환
cosine_sim_df = pd.DataFrame(
    cosine_sim,
    index=user_genre_matrix.index,  # 기존 데이터프레임의 인덱스를 사용
    columns=user_genre_matrix.index  # 기존 데이터프레임의 인덱스를 열로 사용
)

# 결과 출력
print("Cosine Similarity Matrix:")
cosine_sim_df

Cosine Similarity Matrix:

user_id          j25ng  masters4297  s00zzang  seokxkyu  thephunkmonk
user_id
j25ng         1.000000     0.582792  0.703953  0.723138      0.357143
masters4297   0.582792     1.000000  0.732882  0.544151      0.785503
s00zzang      0.703953     0.732882  1.000000  0.762913      0.734560
seokxkyu      0.723138     0.544151  0.762913  1.000000      0.471136
thephunkmonk  0.357143     0.785503  0.734560  0.471136      1.000000

### 감독

In [5]:
import pandas as pd
from itertools import combinations

# 감독별 등장 횟수를 집계하고 필터링
filtered_directors = (
    df.groupby(["user_id", "director"])  # user_id와 director로 그룹화
    .size()  # 각 그룹의 크기 계산
    .reset_index(name="count")  # count 열 추가
    .query("count >= 2")  # 2번 이상 등장한 감독 필터링
)

# 사용자별 2번 이상 등장한 감독의 집합 생성
user_director_sets = (
    filtered_directors.groupby("user_id")["director"]
    .apply(set)  # 각 사용자의 감독 리스트를 집합으로 변환
    .to_dict()  # 사전으로 변환
)

# 자카드 유사도 계산 함수
def jaccard_similarity(set1, set2):
    if not set1 or not set2:  # 하나라도 공집합이면 유사도 0
        return 0
    intersection = len(set1 & set2)  # 교집합 크기
    union = len(set1 | set2)  # 합집합 크기
    return intersection / union  # 자카드 유사도 계산

# 사용자 ID 목록
# user_ids = sorted(df["user_id"].unique())

# DataFrame 초기화
jaccard_matrix_direct = pd.DataFrame(index=user_ids, columns=user_ids, dtype=float)

# 사용자 간 자카드 유사도 계산
for user1, user2 in combinations(user_ids, 2):
    set1 = user_director_sets.get(user1, set())  # 공집합 기본값
    set2 = user_director_sets.get(user2, set())  # 공집합 기본값
    similarity = jaccard_similarity(set1, set2)
    jaccard_matrix_direct.loc[user1, user2] = similarity
    jaccard_matrix_direct.loc[user2, user1] = similarity

# 대각선 값(자기 자신과의 유사도)은 1로 설정
jaccard_matrix_direct.fillna(1, inplace=True)

# 결과 출력
print("User-wise Director Sets:")
for user, directors in user_director_sets.items():
    print(f"User {user}: {directors}")

print("\nJaccard Similarity Matrix:")
jaccard_matrix_direct

User-wise Director Sets:
User thephunkmonk: {'베니 사프디', '데이비드 린치'}

Jaccard Similarity Matrix:

              seokxkyu  j25ng  s00zzang  masters4297  thephunkmonk
seokxkyu           1.0    0.0       0.0          0.0           0.0
j25ng              0.0    1.0       0.0          0.0           0.0
s00zzang           0.0    0.0       1.0          0.0           0.0
masters4297        0.0    0.0       0.0          1.0           0.0
thephunkmonk       0.0    0.0       0.0          0.0           1.0

In [6]:
# 'cast' 열을 개별 배우로 분리
df_exploded_cast = df.explode('cast')

# 배우별 등장 횟수를 집계하고 3번 이상 등장한 경우만 필터링
filtered_casts = (
    df_exploded_cast.groupby(['user_id', 'cast'])
    .size()
    .reset_index(name='count')
    .query('count >= 3')
)

# 사용자별 3번 이상 등장한 배우의 집합 생성
user_cast_sets = (
    filtered_casts.groupby('user_id')['cast']
    .apply(set)
    .to_dict()
)

# # 자카드 유사도 계산 함수
# def jaccard_similarity(set1, set2):
#     if not set1 or not set2:  # 하나라도 공집합이면 유사도 0
#         return 0
#     intersection = len(set1 & set2)
#     union = len(set1 | set2)
#     return intersection / union if union > 0 else 0

# # 사용자 ID 목록
# user_ids = sorted(df['user_id'].unique())

# 자카드 유사도 행렬 초기화
jaccard_matrix_cast = pd.DataFrame(index=user_ids, columns=user_ids, dtype=float)

# 사용자 간 자카드 유사도 계산
for user1, user2 in combinations(user_ids, 2):
    set1 = user_cast_sets.get(user1, set())  # 공집합 기본값
    set2 = user_cast_sets.get(user2, set())  # 공집합 기본값
    similarity = jaccard_similarity(set1, set2)
    jaccard_matrix_cast.loc[user1, user2] = similarity
    jaccard_matrix_cast.loc[user2, user1] = similarity

# 대각선 값(자기 자신과의 유사도)은 1로 설정
for user in user_ids:
    jaccard_matrix_cast.loc[user, user] = 1

# 결과 출력
print("User-wise Cast Sets (3번 이상 등장):")
for user, casts in user_cast_sets.items():
    print(f"User {user}: {casts}")

print("\nJaccard Similarity Matrix:")
jaccard_matrix_cast

User-wise Cast Sets (3번 이상 등장):

Jaccard Similarity Matrix:

              seokxkyu  j25ng  s00zzang  masters4297  thephunkmonk
seokxkyu           1.0    0.0       0.0          0.0           0.0
j25ng              0.0    1.0       0.0          0.0           0.0
s00zzang           0.0    0.0       1.0          0.0           0.0
masters4297        0.0    0.0       0.0          1.0           0.0
thephunkmonk       0.0    0.0       0.0          0.0           1.0

### 제목

In [7]:
import pandas as pd
from itertools import combinations

# 감독별 등장 횟수를 집계하고 필터링
filtered_directors = (
    df.groupby(["user_id", "title"])  # user_id와 director로 그룹화
    .size()  # 각 그룹의 크기 계산
    .reset_index(name="count")  # count 열 추가
)

# 사용자별 2번 이상 등장한 감독의 집합 생성
user_director_sets = (
    filtered_directors.groupby("user_id")["title"]
    .apply(set)  # 각 사용자의 감독 리스트를 집합으로 변환
    .to_dict()  # 사전으로 변환
)

# 자카드 유사도 계산 함수
def jaccard_similarity(set1, set2):
    if not set1 or not set2:  # 하나라도 공집합이면 유사도 0
        return 0
    intersection = len(set1 & set2)  # 교집합 크기
    union = len(set1 | set2)  # 합집합 크기
    return intersection / union  # 자카드 유사도 계산

# 사용자 ID 목록
user_ids = sorted(df["user_id"].unique())

# DataFrame 초기화
jaccard_matrix_title = pd.DataFrame(index=user_ids, columns=user_ids, dtype=float)

# 사용자 간 자카드 유사도 계산
for user1, user2 in combinations(user_ids, 2):
    set1 = user_director_sets.get(user1, set())  # 공집합 기본값
    set2 = user_director_sets.get(user2, set())  # 공집합 기본값
    similarity = jaccard_similarity(set1, set2)
    jaccard_matrix_title.loc[user1, user2] = similarity
    jaccard_matrix_title.loc[user2, user1] = similarity

# 대각선 값(자기 자신과의 유사도)은 1로 설정
jaccard_matrix_title.fillna(1, inplace=True)

# 결과 출력
print("User-wise Title Sets:")
for user, directors in user_director_sets.items():
    print(f"User {user}: {directors}")

print("\nJaccard Similarity Matrix:")
jaccard_matrix_title

User-wise Title Sets:
User j25ng: {'나의 소녀시대', '모노노케 히메', '해리 포터와 마법사의 돌', '트랜스포머', '미 비포 유', '헝거게임: 판엠의 불꽃', '세 얼간이', '청설', '인턴', '말할 수 없는 비밀'}
User masters4297: {'보헤미안 랩소디', '조커', '반지의 제왕: 왕의 귀환', '헤이트풀8', '건축학개론', '쇼생크 탈출', '존 윅 4', '기생충', '캐리비안의 해적: 망자의 함', '서울의 봄'}
User s00zzang: {'중경삼림', '헤어질 결심', '사바하', '물에 빠진 나이프', '몽상가들', '화이트 칙스', '기적:그 날의 소비토', '매드맥스: 분노의 도로', '코코', '동주'}
User seokxkyu: {'극한직업', '보헤미안 랩소디', '인생은 아름다워', '그 시절, 우리가 좋아했던 소녀', '어바웃 타임', '비긴 어게인', '위대한 쇼맨', '라라랜드', '인턴', '말할 수 없는 비밀'}
User thephunkmonk: {'토니 타키타니', '블루 벨벳', '곡성', '멀홀랜드 드라이브', '이레이저 헤드', '굿타임', '혐오스런 마츠코의 일생', '위대한 레보스키', '언컷 젬스', '보 이즈 어프레이드'}

Jaccard Similarity Matrix:

                 j25ng  masters4297  s00zzang  seokxkyu  thephunkmonk
j25ng         1.000000     0.000000       0.0  0.111111           0.0
masters4297   0.000000     1.000000       0.0  0.052632           0.0
s00zzang      0.000000     0.000000       1.0  0.000000           0.0
seokxkyu      0.111111     0.052632       0.0  1.000000           0.0
thephunkmonk  0.000000     0.000000       0.0  0.000000           1.0

In [8]:
final_similarity = cosine_sim_df + jaccard_matrix_direct + jaccard_matrix_cast + jaccard_matrix_title

In [9]:
final_similarity

                 j25ng  masters4297  s00zzang  seokxkyu  thephunkmonk
j25ng         4.000000     0.582792  0.703953  0.834250      0.357143
masters4297   0.582792     4.000000  0.732882  0.596783      0.785503
s00zzang      0.703953     0.732882  4.000000  0.762913      0.734560
seokxkyu      0.834250     0.596783  0.762913  4.000000      0.471136
thephunkmonk  0.357143     0.785503  0.734560  0.471136      4.000000

In [20]:
cosine_sim_df

user_id          j25ng  masters4297  s00zzang  seokxkyu  thephunkmonk
user_id
j25ng         1.000000     0.582792  0.703953  0.723138      0.357143
masters4297   0.582792     1.000000  0.732882  0.544151      0.785503
s00zzang      0.703953     0.732882  1.000000  0.762913      0.734560
seokxkyu      0.723138     0.544151  0.762913  1.000000      0.471136
thephunkmonk  0.357143     0.785503  0.734560  0.471136      1.000000

In [25]:
similarity_json = final_similarity.to_dict(orient="index")
similarity_json

sorted_similarity = {
    key: dict(sorted(value.items(), key=lambda item: item[1], reverse=True))
    for key, value in similarity_json.items()
}
sorted_similarity

{'j25ng': {'j25ng': 4.0,
  'seokxkyu': 0.8342495291672032,
  's00zzang': 0.7039533729502658,
  'masters4297': 0.5827923043280073,
  'thephunkmonk': 0.3571428571428571},
 'masters4297': {'masters4297': 4.0,
  'thephunkmonk': 0.7855026710507925,
  's00zzang': 0.7328816349740925,
  'seokxkyu': 0.5967827184821239,
  'j25ng': 0.5827923043280073},
 's00zzang': {'s00zzang': 4.0,
  'seokxkyu': 0.7629129000913375,
  'thephunkmonk': 0.7345600413394079,
  'masters4297': 0.7328816349740925,
  'j25ng': 0.7039533729502658},
 'seokxkyu': {'seokxkyu': 4.0,
  'j25ng': 0.8342495291672032,
  's00zzang': 0.7629129000913375,
  'masters4297': 0.5967827184821239,
  'thephunkmonk': 0.47113563600624186},
 'thephunkmonk': {'thephunkmonk': 4.0,
  'masters4297': 0.7855026710507925,
  's00zzang': 0.7345600413394079,
  'seokxkyu': 0.47113563600624186,
  'j25ng': 0.3571428571428571}}